.rodape,
.rodapeSobreNos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  text-align: center;
  font-weight: 400;
  background-color: var(--cor-de-fundo);
  color: var(--cor-secundaria);
}

@media screen and (min-width: 1024px) {
  .rodapeSobreNos {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}
